# Python Basics NoteBook

In [2]:
#Write a Python code to return your Python version
import sys
sys.version

'3.8.5 (default, Sep  4 2020, 07:30:14) \n[GCC 7.3.0]'

In [4]:
#Write a Python code to declare variable id="513". 
#Print the following statement "customer id =513". [Don't use print("customer id =513")]
id="513"
string1 = "customer id ="
print(string1+id)

customer id =513

In [9]:
#Run the following statement, why there is an error

id=id+1
# You cannot directly concatenate string with other data type

TypeError: can only concatenate str (not "int") to str

In [11]:
#Convert the variable id into an integer, increment it by 1.
#Assign the result to variable new_id.
#Print the new_id
new_id=int(id)+1
print(new_id)

514

In [36]:
#Write a Python code to print the following string in a specific format (see the output). 

# Twinkle, twinkle, little star, 
#     How I wonder what you are! 
#        Up above the world so high, 
#            Like a diamond in the sky.

lyrics=["Twinkle, twinkle, little star ",
        "How I wonder what you are! ", 
        "Up above the world so high, ", 
        "Like a diamond in the sky."]
tab="    "
for i in range(len(lyrics)): 
    print(i*tab+lyrics[i])

Twinkle, twinkle, little star
    How I wonder what you are!
        Up above the world so high,
            Like a diamond in the sky.

In [49]:
#Givin the following string variable, # Print the first element in the string

course="Python for Data Science"
print(course[0])

P

In [50]:
# Print the element on the 13th index in the string
print(course[13])

t

In [51]:
# Find the length of string
len(course)

23

In [52]:
# Print the last element in the string [use negative index]
print(course[-1])

e

In [53]:
# Take the slice on variable course with only index 11 to index 14
course[10:15]

' Data'

In [54]:
# Get every third element in the range from index 0 to index 20
course[0:20:3]

'Ph ra i'

In [55]:
# Concatenate course string with ", AI & Development"
course2 = course + ", AI & Development"
print(course2)

Python for Data Science, AI & Development

In [58]:
# Replace all the spaces with (_). New string should looks like"Python_for_Data_Science,_AI_&_Development"
course3 = course.replace(" ", "_")
print(course)
print(course3)

Python for Data Science
Python_for_Data_Science

In [59]:
# Convert all the characters in string to upper case
course4=course.upper()
print(course4)

PYTHON FOR DATA SCIENCE